*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* regola di reset */

#griglia{
    display: flex; 
    flex-wrap: wrap;

    gap: 30px;
}

.CassOne{
    width: 100px;
    height: 100px;

    background-color: brown;
}


